eval "$(lorri direnv)"

layout_ruby

export GEM_PATH="$PWD/.direnv/ruby:$GEM_PATH"
export GEM_SPEC_CACHE="$PWD/.direnv/ruby/specs"

: ${RUBYMINE_GEMS:="/Applications/RubyMine.app/Contents/plugins/ruby/rb/gems"}

[ ! -d "$PWD/.direnv/ruby/repo/gems/" ] && mkdir -p "$PWD/.direnv/ruby/repo/gems"
[ ! -f "$PWD/.direnv/ruby/repo/gems/debase*.gem" ] && cp \
    "$RUBYMINE_GEMS"/debase*.gem \
    "$PWD/.direnv/ruby/repo/gems"
[ ! -f "$PWD/.direnv/ruby/repo/gems/ruby-debug-ide*.gem" ] && cp \
    "$RUBYMINE_GEMS"/ruby-debug-ide*.gem \
    "$PWD/.direnv/ruby/repo/gems"
if [ ! -f "$PWD/.direnv/ruby/repo/specs.*" ]; then
    gem install builder
    gem generate_index -d "$PWD/.direnv/ruby/repo"
    gem uninstall builder
fi

bundle install
